In [1]:
import numpy as np
import pandas as pd

# Selecting and retriving data

In [2]:
from pandas import Series,DataFrame

In [3]:
series_obj= Series(np.arange(8), index=['row1', 'row2', 'row3','row4', 'row5', 'row6','row7', 'row8']) # creating series object of 8 numbers with index
series_obj

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int32

In [4]:
# now to retrieve the data from the series we need to just pass on the index in the query
series_obj['row4']

3

In [5]:
#now if we want to query what index has some specific values it can return the index itself
series_obj[[0,7]]

row1    0
row8    7
dtype: int32

In [7]:
# creating data frame with random numbers with row index and column index

np.random.seed(29)
DF_obj= DataFrame(np.random.rand(36).reshape((6,6)),index=['row1', 'row2', 'row3','row4', 'row5', 'row6'],
                 columns = ['col1','col2','col3','col4','col5','col6'])

DF_obj

          col1      col2      col3      col4      col5      col6
row1  0.863760  0.284906  0.073256  0.763237  0.452719  0.542297
row2  0.726636  0.848905  0.768200  0.733144  0.241986  0.720309
row3  0.058377  0.409669  0.610672  0.255915  0.285672  0.684464
row4  0.840920  0.809153  0.000063  0.923610  0.806965  0.956012
row5  0.484729  0.662574  0.733807  0.466112  0.805448  0.437988
row6  0.129040  0.642151  0.478644  0.658121  0.083353  0.663723

In [10]:
# selecting part of the matrix 
kk= DF_obj.loc[['row1','row2'],['col4','col6']]

kk

          col4      col6
row1  0.763237  0.542297
row2  0.733144  0.720309

In [13]:
#selecting a range of valus form a series:::: It does not work for data frame

kkk=series_obj['row1':'row4']

kkk

row1    0
row2    1
row3    2
row4    3
dtype: int32

# comparing with scaler and Filtering

In [14]:
DF_obj<= 0.542297

       col1   col2   col3   col4   col5   col6
row1  False   True   True  False   True   True
row2  False  False  False  False   True  False
row3   True   True  False   True   True  False
row4  False  False   True  False  False  False
row5   True  False  False   True  False   True
row6   True  False   True  False   True  False

In [22]:
kk=DF_obj.col1[DF_obj.col1>0.8]

kk

row1    0.86376
row4    0.84092
Name: col1, dtype: float64

# Setting values to a scaler

In [23]:
series_obj['row1','row2'] = 5

series_obj

row1    5
row2    5
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int32